---
import Layout from '../../layouts/Layout.astro';
//import PreProcess from '../../lib/PreProcess';

//PreProcess.execute();
---

<Layout title="Welcome to Astro.">
	<main>
		<h3>Test2</h3>
		<hr />
		<button id="btn_save" class="btn btn-primary">Put
		</button>
		<hr class="my-2" />
		<button id="btn_get" class="btn btn-primary">Get
		</button>
		<hr class="my-2" />
		<button id="btn_delete" class="btn btn-primary">Delete
		</button>
		<hr class="my-2" />
	</main>
</Layout>

<style>
</style>
<!-- -->
<script src="./Test.ts"></script>